---
import Layout from "@layouts/layout.astro";
---

<Layout title="Page Not Found">
  <main
    class="flex flex-col justify-center items-center h-screen"
  >
    <h1 class="font-bold text-4xl">Page Not Found</h1>
    <a
      class="text-blue-600 underline hover:no-underline underline-offset-[5px] decoration-2"
      href="/">Take me back to home</a
    >
  </main>
</Layout>
